.anuncio-topo, .anuncio-lateral {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  color: #888;
  background-color: #f8f8f8;
  border: 2px dashed #ddd;
  padding: 10px;
  min-height: 100px;
}
